.home-container {
    height: 100%;
    background-color: #FAEBD7;
}
.text-wrapper {
    text-align: center;
    flex-direction: column;
}
.home-button {
    background-color: #333333;
}
.home-button:hover {
    background-color: black;
}
.card-wrapper {
    flex-direction: column;
    text-align: center;
}
