.container {
    background-color: #333333;
}
.nav-links-wrapper {
    display: flex;
    margin-left: auto;
}
.nav-links {
    color: white;
    text-decoration: underline;
    text-transform: none;
    font-size: 1rem;
    margin-right: 20px;
}