.container {
    padding-top: 35%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.form-wrapper {
    background-color: white;
    flex-direction: column;
    width: 400px;
}

.avatar-wrapper {
    display: flex;
    justify-content: center;
}

.avatar {
    margin: 1;
    background-color: purple;
}

.title-h3 {
    color: black;
}

.form-input {
    width: 300px;
}

.form-input :global .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: purple;
    font-size: larger;
}
.form-input :global .MuiFormLabel-root {
    color: black;
    font-size: larger;
}

.form-button {
    width: 300px;
    background-color: #333333;
}

.form-button:hover {
    background-color: black;
}